

<div class="adsOne s-animation">

    <div class="d-flex justify-content-start">
      <div class="logo">
        <img src="../../../assets/Images/ccleaner.png" alt="">
      </div>
      <div class="titles">
        <h1>Ccleaner antiVirus</h1>
        <span>www.ccleaner.com</span>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <div class="descriptions text-truncate">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit rerum labore eum asperiores odit tenetur, fugiat eaque incidunt exercitationem molestiae ea magnam natus consectetur nesciunt reprehenderit magni. Ratione, quam.
          </div>
      </div>
  
    </div>
  
    
    <div class="size">
      129mb
    </div>
    
    </div>