.pageCenter{
margin: 0 auto;
max-width: 800px;
background-color: white;
border-radius: 10px;
padding: 20px;
}
.pageCenter h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.pageCenter img{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: open sans;

}
.pageCenter p{
    font-size: 20px;
    line-height: 30px;
}