<div class="pageCenter">
    <h1>When corrupt people rise to power, nations are ruined</h1>
<img src="https://www.thenews.com.pk/assets/uploads/akhbar/2021-02-09/787264_8491634_%E2%80%98When-corrupt-people-rise-to-power,-nations-are-ruined_akhbar.jpg" alt="">


<p>ISLAMABAD: Prime Minister Imran Khan said on Monday that nations are ruined when a prime minister and his ministers start indulging in corruption, adding that nations are not ruined due to theft by small (the poor) people.</p>

<p>Addressing the Ulema and Mashaikh conference here, he emphasised that the country was ruined by the theft of prime minister and ministers. In our society, he added, leaders commit corruption of billions of rupees and then ask for an NRO.</p>

<p>He said it was a common phenomenon in the developing and third world countries, where the powerful would get an NRO while the poor would go to jail. He noted that annually 1,000-billion dollars were being looted and transferred out of the poor countries to the developed nations.</p>

<p>“This is called the system of injustice and about this, Hazrat Ali said that the system based on kufr can survive but the one on injustice will not,” the PM added.</p>

<p>
    He said that there was a fear of committing corruption in the West, that if they were caught, what would happen to them. However, in Pakistan, the corrupt were invited on television channels and treated in a way as if they were normal part of society. Prime Minister Imran Khan said no society could develop without the rule of law. Take the example of our society today where after corruption of billions, “the leaders of political parties say, give us an NRO”.

“When you will not give a message to people that corruption is a bad thing, then corruption cannot be eliminated by enactment of laws.

“I need ulema and mashaikh’s help, as the Quran says that the good and the bad cannot be treated equally. There has to be a system of reward and punishment,” he noted.

He also sought religious experts support in the establishment of a welfare system on the principles of Madina state, and said that when they would walk that path, that means the beginning of a struggle. “It is not a switch to on and off it to make a state of Madina. It is name of character building, changing the mindset, and when a nation moves towards truthfulness, it strengthens its character and has belief in self,” he added.

The PM said the lust for wealth was the biggest statue worshipped by people and the one who had piled up wealth, commanded respect in society, no matter how he did it and what had been his character. He explained that he was talking about mind revolution, and unless and until the ulema and mashaikh would not become part of the struggle, Imran alone could not do anything. “Today, a spectacle is before you and you are watching that those, who plundered billions and flew out of the country, are demanding an NRO. The poor who stole a cow, buffalo or a motorbike, are in jail and against whom corruption of billions was proved, fled the country and want an NRO. Major nations in the past, were eliminated because the poor were punished while the mighty would get an NRO,” he said.

The PM also requested the religious scholars to preach people to speak the truth and adopt it as a habit, as the people who were called kafir speak the truth and unfortunately, we have gone away from the truth. He also sought their help in adoption of cleanliness in routine life and referred to a hadith that cleanliness is half of the faith.

He called on religious experts to use their voice for promotion of unity among Muslims and lamented that how, on having difference of opinion, weapons were taken out and the rival side was called kafir. “This is the biggest hurdle in the way of our nation becoming a great nation. Forging of unity is Sunnah of Holy Prophet peace be upon him,” he added.

The PM said Quaid-i-Azam was supported by almost all religious circles for establishment of Pakistan and today ulema have a great role to play for the purpose for which Pakistan was created. He continued that Quaid-e-Azam wanted to make Pakistan a role model for the world as an Islamic welfare state. About Islamophobia, the PM said that the West had linked Islam with terrorism and there was no reaction from the Muslim countries and their leaders. “”Islam has nothing to do with terrorism and the Muslim leadership has never clarified this,” he regretted.

He pointed out that most of the suicide attacks before 9/11 were carried out by Tamils in India; they were slaves but no one called them terrorists. Prime Minister emphasised that the Muslim leadership should have made the leaders of the Western countries understand the difference between freedom of expression and the honour of the Holy Prophet peace be upon him at the international forum but this was not done.

The PM noted that not a single word was uttered against Israel and the Jews in the West. He continued that the Holocaust against Jews in Germany was cruel and now no one could talk about it in the name of freedom of expression.

He said that in four European countries, talking about the Holocaust was punishable by imprisonment and there was no freedom of expression. Without naming PML-N leader Nawaz Sharif, he said that some eight, nine noted journalists wanted that the convicted criminals of the Supreme Court and those who went abroad by telling lies should be allowed to speak.

He said that this was giving the impression to the youth that stealing was not a bad thing; the opposition had property worth billions of rupees which they could not answer and they should be allowed to speak here. PM Imran Khan said society could not develop unless a police officer or a patwari felt afraid of being punished for taking bribe.
</p>
</div>